---

---

<div id="page-base">
    <div id="container">
        <slot />
    </div>
</div>
<style>
    #page-base {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
    }

    #container {
        width: 720px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
