---
import HeaderLink from './HeaderLink.astro';
import { SITE_DESCRIPTION, SITE_TITLE, SITE_MAX_WIDTH } from '../consts'
---

<div class='container'>
<header>
		<h2><a href="/">{SITE_TITLE}</a></h2>
        <p>{SITE_DESCRIPTION}</p>
</header>
</div>
<style define:vars={{ SITE_MAX_WIDTH }}>
	

    header {
		margin: 0;
        margin-top: 2em;
        padding: 0;
        width: var(--SITE_MAX_WIDTH);
        display: flex;
        justify-content: center;
        gap: 0.2em;
	}
	h2 {
		margin: 0;
		font-size: 1em;
	}

	a {
		text-decoration: none;
	    color: var(--green);
        font-size: 1.6em;
    }

    p{
        color: var(--pretty-green);
        font-size: 0.7em;
    }

</style>
